body{
	
     margin:0;
	 padding:0;
	 text-align:center;
	 font-family:sans-serif;
	 background-repeat: no-repeat;
  background-size: 100%;	 
}

nav ul li a
{
	text-decoration:none;
}
.contact-title{
     margin-top:0px;
     color:black;
     text-transform:uppercase;
}
.contact-tittle h1{
     font-size:30px;
     line-height:10px;
}
.contact-tittle h2{
     font-size:17px;
}
#form1{
    margin-top:40px;
	color:#000000;
	}
.form-control{
     width:650px;
     background:transparent;
	 border:none;
	 border-bottom:1px solid BLACK;
     color:black;
     font-size:18px;
     margin-bottom:15px;
}
::placeholder { 
  color: black;
  opacity: 1; 
}
nav
 {
	background-color: #ADD8E6;
	padding: 1%;
}

#input1{
	color:#000000;
     height:40px;
}
.submit{
	background:#000000;
	width:650px;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	height:50px;
	margin-top:20px;
}
input[submit] {
	background-color:RED;
	
}
form.submit.hover{
	background-color:RED;
	cursor:pointer;
}

.mobile
{
	display:inline;
}
footer
{ 
background-color: lightblue; 
text-align: center;
margin-top:2%;
} 

table tr td a
{
text-decoration:none;
}
#right1
{
	background-color: lightblue;
	float:right;	
	width:100%;
}
#size
{
	font-size:2em;
}
nav
 {
	float:right;
	background-color: #BC8F8F;		
	padding: 0.5%;
	width: 100%;
	overflow: auto;
	margin-top:0%;
	
}

nav li
 {
	 
	display:inline-block;
	margin:0.2em;
	padding:0.2em;
	font-size: 1.2em;
	
}
nav ul li a
{
	text-decoration:none;
}	

@media (min-width: 340px) and (max-width: 768px) {
  body{
	  background-color:khaki;
  }
  nav li {
    display: inline-block;
    margin: 0.2em;
    padding: 0.2em;
    width: 97%;
    font-size: 1.2em;
    text-align: center;
}
nav ul{
	text-align:center;
	width: 80%;
    margin: 2% auto;
}
  .desktop-only{
	  display:none;
  }
}
@media (min-width: 769px) and (max-width:1024px) {
  body{
	  background-color:khaki;
  }
  .desktop-only{
	  display:none;
  }
  nav ul{
	text-align:center;
	width: 80%;
    margin: 2% auto;
}
}	
	
	
	
	
	
	
	