
body {
	background-color: #F0E68E;
	
}
nav
 {
	float:right;
	background-color: #C0C0C0;		
	padding: 0.5%;
	width: 100%;
	overflow: auto;
	margin-top:0%;
	
}

nav li
 {
	 
	display:inline;
	margin:0.2em;
	padding:0.2em;
	font-size: 1.2em;
	
}
nav ul li a
{
	text-decoration:none;
}

#container 
{
	background-color: #F0E68E;
	width: 100%;
	margin-left: 12%;
	margin: auto;
}


main {
	display: block;
	display-size:80%;
	margin: 5%;
	margin-left:17%;
	margin-right:5%;
	margin-bottom:5%
	padding: 1em;
	border-radius: 1em;
	background-color: #C0C0C0;
	box-shadow: .5em .5em .5em #404040;
	float: left;
	width: 65%;
	position:center;
}

section
{
	background-color :#183440;
	color:#FFFFFF;
	margin-top:4%;
	padding:1%;
}

article
{
	background-color:white;
	border-radius:3em;
	color:#000000;
	margin-top:1%;
	padding:2%;
	
}
#foot
{
		background-color: lightblue;
}
footer
{ 
 
text-align: center;
} 

table tr td a
{
text-decoration:none;
}
#right1
{
	background-color: #F0E68E;
	float:right;	
	width:100%;
}
#size
{
	font-size:2em;
}
@media (min-width: 340px) and (max-width: 768px) {
  
  nav li {
    display: inline-block;
    margin: 0.2em;
    padding: 0.2em;
    width: 97%;
    font-size: 1.2em;
    text-align: center;
}
nav ul{
	text-align:center;
	width: 80%;
    margin: 2% auto;
}
  .desktop-only{
	  display:none;
  }
}
@media (min-width: 769px) and (max-width:1024px) {
  
  .desktop-only{
	  display:none;
  }
  nav ul{
	text-align:center;
	width: 80%;
    margin: 2% auto;
}
}